.vscode/**
.vscode-test/**
src/**
webview/**
vite.config.mts
vite.extension.config.mts
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules/ssh2/lib/protocol/crypto/build/**
node_modules/cpu-features/**
